@charset "utf-8";

@import url(./reset.css);
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans:400');
@font-face {
font-family: 'Pretendard';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
font-weight: 100;
font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}

* {box-sizing: border-box; transition: all 0.3s ease;}

/* btn */
.button-wrap {display:flex; justify-content: center;}
.btn {
    display: block;
    position: relative;
    float: left;
    width: 120px;
    padding: 0;
    margin: 10px 20px 10px 0;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    color: #FFF;
    border-radius: 5px;
    transition: all 0.2s ;
    border:none;
    background: #00AE68;
    box-shadow: 0px 5px 0px 0px #007144;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
}
.btn:hover {
    margin-top: 15px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 0px 0px #007144;
}
/* btn//end */

body {
    font-family: 'Pretendard';
    font-size: 20px;
    line-height: 1.2;
    overflow: hidden;
    height: 100vh;
}
#content {position: fixed; top:0; left:0; width: 100%; height: 100%; background-color: #fff; z-index: 10;}
.content {display: flex; flex-direction: column; gap:20px; align-items: center; padding:20px 0;}
.wrapper {width: 860px; overflow: hidden; border:1px solid #000; margin:0 auto;}
.section {padding-inline:35px;  padding-bottom: 25px;}
.badge {width: 150px; height: 30px; background-color: #384999; border-radius:999px; color:#fff; font-size: 16px; display: flex; align-items: center; justify-content: center; margin-bottom: 20px;}
.red {color:#f00 !important;}
.fs16 {font-size: 16px;}
.fs14 {font-size: 14px;}
.fs10 {font-size: 10px;}
.ml20 {margin-left: 20px;}
b {font-weight: bold;}
.list-dot {list-style: disc; margin-left: 20px;}
.d-flex {display: flex;}

/* section1 */
.section1 {
    width: 100%;
    height: 630px;
    padding-top:90px;
    position: relative;
    /* background: url('https://www.kistemp.co.kr/cyberphoto/intra2/2025121814341806796.png') no-repeat 470px 180px / 350px 246px; */
}
.section1::before {
    content:"Recruit";
    position: absolute;
    left:0; top:0;
    font-family: "Black Han Sans", sans-serif;
    font-size: 190px;
    opacity: 0.1;
    line-height: 1.4;
    z-index: 1;
}
.img-wrap {
    position: absolute;
    right:40px;
    top:180px;
    width: 350px;
    height: 245px;
    z-index: 0;
}
.img-wrap img {width: 100%; height: 100%; object-fit: cover; object-position: center;}
/* .section1::after {
    content:"";
    position: absolute;
    right:40px;
    top:180px;
    background: url('https://www.kistemp.co.kr/cyberphoto/intra2/2025121814341806796.png') no-repeat center / cover;
    width: 350px;
    height: 245px;
    z-index: 0;
} */
h2 {font-size: 80px; font-weight: 200; margin-bottom: 40px; position: relative ; z-index: 2;}
h2 span {font-weight: 500; color:#384999;}
.main-desc {font-size: 14px; font-weight: 400;}

.title-button-wrap {display: flex; align-items: center; gap:20px;}
#alert-ment {color:#f00;}

/* section2,3 */
.section2 {
    background: url('./image/grid-bg.png') repeat center / contain;
    width: 100%;
    height: auto;
    padding-top:40px;
}

.section2 > div {margin-bottom: 50px;}
.section2 .list-desc {margin-bottom: 5px;}
.section2 .list-desc:last-child {margin-bottom: 0px;}
.section2 .list-desc span {font-size: 16px; color:#000;}
.benefits {
    display:flex; align-items: center; flex-wrap: wrap; column-gap:35px; row-gap: 15px; margin-left: 20px; margin-top: 15px;
    width: 600px;
}
.benefits li {margin-bottom: 0 !important;}


.section3 {
    padding-top:25px;
}

/* recruit-editer */
.editor {width: 900px; margin:0 auto; display:flex; flex-direction: column; align-items: flex-start; gap:20px; height: 100vh; overflow: scroll;}
.btn a {color:#fff;}
.title {display:inline-block; width: 200px;}
.text-input {height:30px; width: 240px;}
.title-wrap {display: flex; align-items: flex-start;}
.input-wrap {display: flex; flex-direction: column; gap:10px;}
textarea {width: 240px; height: 200px;}